@import "./variables";
@import "~bootstrap/scss/bootstrap";

.btn.btn-primary {
    color: white;
}

body {
    background-color: rgb(248, 249, 250);
}

.user-loading {
    width: 37px;
    height: 37px;
}